body {
  background-color: #FFFBE9;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 20px;
  width: 5%;
}

h1{
  color: #AD8B73;

}

h3{
  color: #E3CAA5;
}
